<% content_for :head do %>
  <title> <%= @user_list_presenter.language.capitalize %> <%= @user_list_presenter.title %> | GitHub Awards</title>
  <meta name="description" content="List of top <%= @user_list_presenter.language.capitalize %> developers <%= @user_list_presenter.title %>"/>
  <meta name="robots" content="nofollow">
<% end %>

<div class="row">
  <div class="col-xs-12">
    <h1>Top <%= @user_list_presenter.language.capitalize %> GitHub developers <%= @user_list_presenter.title %></h1>
  </div>
</div>
<br>

<div class="row">
  <%= form_tag users_path, :method => 'get' do %>
    <%= hidden_field_tag(:type, @user_list_presenter.type) %>
    <div class="col-lg-2 col-xs-4">
      <%= select_tag :language, options_for_select(@user_list_presenter.languages, @user_list_presenter.language), :class => "form-control" %>
    </div>
    <% if @user_list_presenter.show_location_input? %>
      <div class="col-lg-4 col-xs-4">
        <%= @user_list_presenter.location_input %>      
      </div>
    <% end %>
    <div class="col-lg-6 col-xs-4 pull-left">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  <% end %>
</div>
<br>

<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th><%= @user_list_presenter.rank_label %></th>
          <th>Stars</th>
        </tr>
      </thead>

      <tbody>
        <% user_ranks = @user_list_presenter.user_ranks %>
        <% if user_ranks.empty? %>
          <tr>
            <td><%=h @user_list_presenter.empty_message %> </td>
          </tr>
        <% end %>
        <% @user_list_presenter.user_ranks.each do |user_rank| %>
          <tr>
            <td><%= link_to(image_tag(user_rank.user.gravatar_url, :class => "thumbnail avatar"), user_path(user_rank.user)) %></td>
            <td class="username"><%= link_to(user_rank.user.login, user_path(user_rank.user.login))%></td>
            <td><%= @user_list_presenter.ranking(user_rank) %></td>
            <td><%= user_rank.stars_count %> <i class="fa fa-star star"></i></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= paginate @user_list_presenter.user_ranks %>
  </div>
</div>
