<% content_for :head do %>
  <title> <%= @user.login %> | GitHub Awards </title>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<div class="row">
  <div class="col-md-3 info" >
    <div class="row">
      <%= image_tag @user.gravatar_url, :class => "thumbnail avatar-bg"%>
      <h2><span class="mega-octicon octicon-mark-github"></span> <strong><%= link_to @user.login, "https://github.com/#{@user.login}" %></strong></h2>
      <p><%= @user_presenter.city %></p>
      <p><%= @user_presenter.country %></p>
      <%= @user_presenter.best_rank_tweet %>
      <%= link_to "Refresh your profile", '/auth/github', :class => "btn btn-success" if session[:user_id].nil? %>
    </div>
    <hr/>
    <div class="row sponsor">
      <p>Partnered with :</p>
      <br>
      <%= link_to image_tag("loggly-logo.jpg"), "#", :class => "loggly" %>
      <p>Simplify Log Management</p>
    </div>
  </div>
  <div class="col-md-9">
    <% if @user_presenter.user_ranks.empty? %>
      <div class="no-info">
        <p><strong>That's embarrassing...</strong></p>
        <p><strong>We don't have any info for your account. Maybe you don't have any repository on GitHub, or GitHub couldn't guess the language for any for your repos. </strong></p>
        <p>You can manually search for <%= link_to "top github developers in your city", users_path %> </p>
      </div>
    <% end %>
    
    <% @user_presenter.user_ranks.each do |user_rank| %>
      <% presenter = UserRankPresenter.new(user_rank) %>
      <div class="row">
        <div class="col-md-3 info">
          <p><%= user_rank.language%> ranking</p>
        </div>
        <div class="col-md-9 pull-left">
          
          <table class="table rank">
            <tbody>
              <tr>
                <%= presenter.city_infos %>
              </tr>
              <tr>
                <%= presenter.country_infos %>
              </tr>
              <tr>
                <%= presenter.world_infos %>
              </tr>
              <tr>
                <td class="col-md-3">Repos :</td>
                <td><%= user_rank.repository_count %> <span class="octicon octicon-repo"></span></td>
              </tr>
              <tr>
                <td class="col-md-3">Stars :</td>
                <td><%= user_rank.stars_count %> <span class="octicon octicon-star"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr/>
    <% end %>
  </div>
</div>
