<% content_for :head do %>
  <title> <%= @user.login %> | GitHub Awards </title>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<div class="row">
  <div class="col-md-3 info" >
    <div class="row">
      <%= image_tag @user.gravatar_url, :class => "thumbnail avatar-bg"%>
      <h2><span class="mega-octicon octicon-mark-github"></span> <strong><%= link_to @user.login, "https://github.com/#{@user.login}" %></strong></h2>
      <p><%= @user.city.try(:capitalize) %></p>
      <p><%= @user.country.try(:capitalize) %></p>
      <%= @presenter.best_rank %>
    </div>
    <hr/>
    <div class="row sponsor">
      <p>Partnered with :</p>
      <br>
      <%= link_to image_tag("loggly-logo.jpg"), "http://www.loggly.com" %>
      <p>Simplify Log Management</p>
    </div>
  </div>
  <div class="col-md-9">
    <% if @language_ranks.empty? %>
      <div class="no-info">
        <p><strong>That's embarrassing...</strong></p>
        <p><strong>We don't have any info for your account. Maybe you don't have any repository on GitHub, or GitHub couldn't guess the language for any for your repos. </strong></p>
        <p>You can manually search for <%= link_to "top github developers in your city", users_path %> </p>
      </div>
    <% end %>
    
    <% @language_ranks.each do |language_rank| %>
      <div class="row">
        <div class="col-md-3 info">
          <p><%= language_rank.language.capitalize%> ranking</p>
        </div>
        <div class="col-md-9 pull-left">
          
          <table class="table rank">
            <tbody>
              <tr>
                <%= @presenter.city_infos(language_rank) %>
              </tr>
              <tr>
                <%= @presenter.country_infos(language_rank) %>
              </tr>
              <tr>
                <%= @presenter.world_infos(language_rank) %>
              </tr>
              <tr>
                <td class="col-md-3">Repos :</td>
                <td><%= language_rank.repository_count %> <span class="octicon octicon-repo"></span></td>
              </tr>
              <tr>
                <td class="col-md-3">Stars :</td>
                <td><%= language_rank.stars_count %> <span class="octicon octicon-star"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr/>
    <% end %>
  </div>
</div>