<% content_for :head do %>
  <meta name="robots" content="noindex, nofollow">
<% end %>

<div class="row">
  <div class="col-md-3 info" >
    <%= image_tag @user.gravatar_url, :class => "thumbnail avatar-bg"%>
    <h2><span class="mega-octicon octicon-mark-github"></span> <strong><%= link_to @user.login, "https://github.com/#{@user.login}" %></strong></h2>
    <p><%= @user.city.try(:capitalize) %></p>
    <p><%= @user.country.try(:capitalize) %></p>
    <%= @presenter.best_rank %>
  </div>
  <div class="col-md-9">
    <% if @language_ranks.empty? %>
      <div class="no-info">
        <p><strong>That's embarrassing...</strong></p>
        <p><strong>We don't have any info for your account. Maybe you don't have any repository on Github, or Github couldn't guess the language for any for your repos. </strong></p>
        <p>You can manually search for <%= link_to "top github developers in your city", users_path %> </p>
      </div>
    <% end %>
    
    <% @language_ranks.each do |language_rank| %>
      <div class="row">
        <div class="col-md-3 info">
          <p><%= language_rank.language.capitalize%> ranking</p>
        </div>
        <div class="col-md-9 pull-left">
          <% if @user.city && @user.country %>
            <table class="table rank">
              <tbody>
                <tr>
                  <td class="col-md-3"><%= link_to @user.city.capitalize, users_path(:language => language_rank.language, :city => @user.city, :type => :city) %> :</td>
                  <td><%= @presenter.city_rank(language_rank) %> <i class="fa fa-trophy"></i></td>
                </tr>
                <tr>
                  <td class="col-md-3"><%= link_to @user.country.capitalize, users_path(:language => language_rank.language, :country => @user.country, :type => :country) %> :</td>
                  <td><%= @presenter.country_rank(language_rank) %> <i class="fa fa-trophy"></i></td>
                </tr>
              </tbody>
            </table>
          <% else %>
            <p> We couldn't find your city or country from your location on github :( </p>
            <p>You can manually search for <%= link_to "top #{language_rank.language.capitalize} github developers in your city", users_path(:language => language_rank.language) %> </p>
          <% end %>
          <table class="table rank">
            <tbody>
              <tr>
                <td class="col-md-3"><%= link_to "Worldwilde", users_path(:language => language_rank.language, :type => :world) %> :</td>
                <td><%= @presenter.world_rank(language_rank) %> <i class="fa fa-trophy"></i></td>
              </tr>
              <tr>
                <td class="col-md-3">Repos :</td>
                <td><%= language_rank.repository_count %> <span class="octicon octicon-repo"></span></td>
              </tr>
              <tr>
                <td class="col-md-3">Stars :</td>
                <td><%= language_rank.stars_count %> <span class="octicon octicon-star"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr/>
    <% end %>
  </div>
</div>